n8n/workflows/adably-content-bot.json
{
  "name": "Adably Content Bot",
  "nodes": [
    {
      "parameters": { "updates": ["message", "callback_query"] },
      "id": "t1", "name": "Telegram Trigger", "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1, "position": [200, 300],
      "webhookId": "adably-bot",
      "credentials": { "telegramApi": { "id": "", "name": "Telegram account" } }
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nif (!sd.chats) sd.chats = {};\nconst inp = $input.first().json;\nconst isCb = !!inp.callback_query;\nconst chatId = isCb ? inp.callback_query.message.chat.id : inp.message?.chat?.id;\nconst text = isCb ? '' : (inp.message?.text || '').trim();\nconst cb = isCb ? inp.callback_query.data : '';\nconst st = sd.chats[chatId] || {};\nconst r = { action:'reply', chatId, text:'', kb:null, title:'', type:'', subType:'', raw:'', cId:'', ratio:'' };\n\nconst MENU = [[{text:'Buat Konten',callback_data:'m_create'},{text:'Cek Status',callback_data:'m_status'}],[{text:'Submit Review',callback_data:'m_submit'},{text:'Prompt Thumbnail',callback_data:'m_thumb'}],[{text:'Buka Web Adably',url:'https://adably.id/admin'},{text:'Bantuan',callback_data:'m_help'}]];\nconst TYPES = [[{text:'QNA',callback_data:'t_QNA'},{text:'Artikel',callback_data:'t_ARTICLE'}],[{text:'Pembelajaran',callback_data:'t_PEMBELAJARAN'},{text:'Kisah',callback_data:'t_KISAH'}],[{text:'Menu',callback_data:'m_main'}]];\nconst KISAH = [[{text:'Sirah Nabawiyah',callback_data:'k_SIRAH'}],[{text:'Qashashul Anbiya',callback_data:'k_QASHASH'}],[{text:'Teladan Sahabat',callback_data:'k_TELADAN'}],[{text:'Cerita Fiksi',callback_data:'k_FIKSI'}],[{text:'Kembali',callback_data:'m_create'}]];\nconst RATIO = [[{text:'16:9 Website',callback_data:'r_16:9'}],[{text:'1:1 IG/FB',callback_data:'r_1:1'}],[{text:'4:5 IG Optimal',callback_data:'r_4:5'}],[{text:'Menu',callback_data:'m_main'}]];\n\nif (isCb) {\n  switch(cb) {\n    case 'm_main': r.text='Menu Utama - Pilih menu:'; r.kb=MENU; break;\n    case 'm_create': r.text='Pilih tipe konten:'; r.kb=TYPES; break;\n    case 'm_status': sd.chats[chatId]={step:'wait_status_id'}; r.text='Ketik ID konten:'; break;\n    case 'm_submit': sd.chats[chatId]={step:'wait_submit_id'}; r.text='Ketik ID konten yang ingin diajukan review:'; break;\n    case 'm_thumb': r.text='Pilih rasio thumbnail:'; r.kb=RATIO; break;\n    case 'm_help': r.text='Panduan Adably Bot\\n\\n1. Klik Buat Konten lalu pilih tipe\\n2. Ketik judul lalu bot kirim prompt\\n3. Copy prompt lalu paste ke Gemini\\n4. Kirim hasil Gemini ke bot\\n5. Bot simpan otomatis ke DRAFT\\n6. Klik Submit Review'; r.kb=[[{text:'Menu',callback_data:'m_main'}]]; break;\n    case 't_QNA': case 't_ARTICLE': case 't_PEMBELAJARAN': {\n      const tp=cb.replace('t_',''); sd.chats[chatId]={step:'wait_title',type:tp};\n      r.text='Tipe: '+tp+'\\n\\nKetik judul konten:'; break; }\n    case 't_KISAH': r.text='Pilih sub-tipe Kisah:'; r.kb=KISAH; break;\n    case 'k_SIRAH': case 'k_QASHASH': case 'k_TELADAN': case 'k_FIKSI': {\n      const ks=cb.replace('k_',''); sd.chats[chatId]={step:'wait_title',type:'KISAH',sub:ks};\n      r.text='Kisah: '+ks+'\\n\\nKetik judul kisah:'; break; }\n    case 'r_16:9': case 'r_1:1': case 'r_4:5': {\n      const rt=cb.replace('r_',''); sd.chats[chatId]={step:'wait_thumb_title',ratio:rt};\n      r.text='Rasio: '+rt+'\\n\\nKetik judul/tema thumbnail:'; break; }\n    default:\n      if(cb.startsWith('submit_')){r.action='submit';r.cId=cb.replace('submit_','');}\n      else if(cb.startsWith('status_')){r.action='status';r.cId=cb.replace('status_','');}\n      else{r.text='Perintah tidak dikenali';r.kb=MENU;}\n  }\n} else if (text.startsWith('/start')) {\n  r.text='Assalamualaikum!\\n\\nSaya Adably Content Bot - Asisten pembuatan konten islami anak.\\n\\nPilih menu:'; r.kb=MENU;\n} else if (st.step === 'wait_title') {\n  r.action='gen_prompt'; r.type=st.type; r.subType=st.sub||''; r.title=text;\n  sd.chats[chatId] = {step:'wait_content',type:st.type,sub:st.sub,title:text};\n} else if (st.step === 'wait_content') {\n  r.action='save'; r.type=st.type; r.subType=st.sub||''; r.title=st.title; r.raw=text;\n  delete sd.chats[chatId];\n} else if (st.step === 'wait_thumb_title') {\n  r.action='gen_thumb'; r.ratio=st.ratio; r.title=text;\n  delete sd.chats[chatId];\n} else if (st.step === 'wait_status_id') {\n  r.action='status'; r.cId=text.trim(); delete sd.chats[chatId];\n} else if (st.step === 'wait_submit_id') {\n  r.action='submit'; r.cId=text.trim(); delete sd.chats[chatId];\n} else {\n  r.text='Gunakan menu di bawah:'; r.kb=MENU;\n}\n\nif (r.action === 'reply' && !r.text) { r.text='Pilih menu:'; r.kb=MENU; }\n\nreturn [{json:r}];"
      },
      "id": "logic", "name": "Main Logic", "type": "n8n-nodes-base.code",
      "typeVersion": 2, "position": [440, 300]
    },
    {
      "parameters": {
        "rules": { "values": [
          {"outputKey":"reply","conditions":{"conditions":[{"leftValue":"={{$json.action}}","rightValue":"reply","operator":{"type":"string","operation":"equals"}}]}},
          {"outputKey":"gen_prompt","conditions":{"conditions":[{"leftValue":"={{$json.action}}","rightValue":"gen_prompt","operator":{"type":"string","operation":"equals"}}]}},
          {"outputKey":"gen_thumb","conditions":{"conditions":[{"leftValue":"={{$json.action}}","rightValue":"gen_thumb","operator":{"type":"string","operation":"equals"}}]}},
          {"outputKey":"save","conditions":{"conditions":[{"leftValue":"={{$json.action}}","rightValue":"save","operator":{"type":"string","operation":"equals"}}]}},
          {"outputKey":"submit","conditions":{"conditions":[{"leftValue":"={{$json.action}}","rightValue":"submit","operator":{"type":"string","operation":"equals"}}]}},
          {"outputKey":"status","conditions":{"conditions":[{"leftValue":"={{$json.action}}","rightValue":"status","operator":{"type":"string","operation":"equals"}}]}}
        ]}, "fallbackOutput": "extra"
      },
      "id": "sw", "name": "Route Action", "type": "n8n-nodes-base.switch",
      "typeVersion": 3, "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8720871014:AAH7IhAlGkgUSX30f1t5mzX8bKpXo7W3U5A/sendMessage",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.text || 'Pilih menu:', reply_markup: $json.kb ? { inline_keyboard: $json.kb } : { inline_keyboard: [[{text:'Menu',callback_data:'m_main'}]] } }) }}"
      },
      "id": "send1", "name": "Send Reply", "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2, "position": [920, 80]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://api.adably.id/api/n8n/generate-prompt",
        "sendHeaders": true, "headerParameters": {"parameters":[{"name":"X-N8N-API-Key","value":"n8n_65a23e7759d9ad390b495d3e721f066852807d6b858e26537987e1057f28d979"},{"name":"Content-Type","value":"application/json"}]},
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: $json.type, title: $json.title, subType: $json.subType || undefined }) }}"
      },
      "id": "apiPrompt", "name": "Get Prompt from API", "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2, "position": [920, 200]
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Main Logic').first().json;\nconst res = $input.first().json;\nconst prompt = res.prompt || 'Error generating prompt';\nconst chatId = prev.chatId;\nconst msgs = [];\nconst header = 'Prompt ' + prev.type + ' - ' + prev.title + '\\n\\n';\nconst footer = '\\n\\nCopy prompt di atas lalu paste ke Gemini. Kirim hasilnya ke sini.';\nconst full = header + prompt + footer;\nif (full.length <= 4096) {\n  msgs.push({ chatId, text: full, kb: [[{text:'Batalkan',callback_data:'m_main'}]] });\n} else {\n  const chunkSize = 4000;\n  for (let i = 0; i < full.length; i += chunkSize) {\n    const chunk = full.substring(i, i + chunkSize);\n    const isLast = (i + chunkSize) >= full.length;\n    msgs.push({ chatId, text: chunk, kb: isLast ? [[{text:'Batalkan',callback_data:'m_main'}]] : null });\n  }\n}\nreturn msgs.map(m => ({ json: m }));"
      },
      "id": "fmtPrompt", "name": "Format Prompt Reply", "type": "n8n-nodes-base.code",
      "typeVersion": 2, "position": [1140, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8720871014:AAH7IhAlGkgUSX30f1t5mzX8bKpXo7W3U5A/sendMessage",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.text || 'Error', reply_markup: $json.kb ? { inline_keyboard: $json.kb } : undefined }) }}"
      },
      "id": "sendPrompt", "name": "Send Prompt Reply", "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2, "position": [1360, 200]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://api.adably.id/api/n8n/generate-thumb-prompt",
        "sendHeaders": true, "headerParameters": {"parameters":[{"name":"X-N8N-API-Key","value":"n8n_65a23e7759d9ad390b495d3e721f066852807d6b858e26537987e1057f28d979"},{"name":"Content-Type","value":"application/json"}]},
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.title, ratio: $json.ratio }) }}"
      },
      "id": "apiThumb", "name": "Get Thumb Prompt", "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2, "position": [920, 320]
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Main Logic').first().json;\nconst res = $input.first().json;\nconst prompt = res.prompt || 'Error';\nconst text = 'Prompt Thumbnail ' + prev.ratio + ' - ' + prev.title + '\\n\\n' + prompt + '\\n\\nCopy lalu paste ke AI image generator. Upload manual di web Adably.';\nconst kb = [[{text:'Rasio Lain',callback_data:'m_thumb'},{text:'Menu',callback_data:'m_main'}]];\nreturn [{json:{chatId:prev.chatId,text:text.length>4096?text.substring(0,4090)+'...':text,kb}}];"
      },
      "id": "fmtThumb", "name": "Format Thumb Reply", "type": "n8n-nodes-base.code",
      "typeVersion": 2, "position": [1140, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8720871014:AAH7IhAlGkgUSX30f1t5mzX8bKpXo7W3U5A/sendMessage",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.text || 'Error', reply_markup: { inline_keyboard: $json.kb } }) }}"
      },
      "id": "sendThumb", "name": "Send Thumb Reply", "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2, "position": [1360, 320]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://api.adably.id/api/n8n/save-content",
        "sendHeaders": true, "headerParameters": {"parameters":[{"name":"X-N8N-API-Key","value":"n8n_65a23e7759d9ad390b495d3e721f066852807d6b858e26537987e1057f28d979"},{"name":"Content-Type","value":"application/json"}]},
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.title, type: $json.type, subType: $json.subType || undefined, rawContent: $json.raw }) }}"
      },
      "id": "apiSave", "name": "Save to Adably", "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2, "position": [920, 460]
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Main Logic').first().json;\nconst res = $input.first().json;\nconst ok = res.success;\nconst id = res.data?.id || '';\nconst kb = ok ? [[{text:'Submit Review',callback_data:'submit_'+id},{text:'Status',callback_data:'status_'+id}],[{text:'Buka Editor',url:'https://adably.id/admin/editor?id='+id},{text:'Menu',callback_data:'m_main'}]] : [[{text:'Menu',callback_data:'m_main'}]];\nconst text = ok ? 'Konten tersimpan!\\n\\nID: '+id+'\\nJudul: '+(res.data?.title||'')+'\\nStatus: '+(res.data?.status||'')+'\\nTipe: '+(res.data?.type||'') : 'Gagal menyimpan: '+(res.message||'Error');\nreturn [{json:{chatId:prev.chatId,text,kb}}];"
      },
      "id": "fmtSave", "name": "Format Save Reply", "type": "n8n-nodes-base.code",
      "typeVersion": 2, "position": [1140, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8720871014:AAH7IhAlGkgUSX30f1t5mzX8bKpXo7W3U5A/sendMessage",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.text || 'Error', reply_markup: { inline_keyboard: $json.kb } }) }}"
      },
      "id": "send2", "name": "Send Save Reply", "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2, "position": [1360, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.adably.id/api/n8n/submit/{{ $json.cId }}",
        "sendHeaders": true, "headerParameters": {"parameters":[{"name":"X-N8N-API-Key","value":"n8n_65a23e7759d9ad390b495d3e721f066852807d6b858e26537987e1057f28d979"}]}
      },
      "id": "apiSubmit", "name": "Submit to Adably", "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2, "position": [920, 580]
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Main Logic').first().json;\nconst res = $input.first().json;\nconst text = res.success ? 'Berhasil! ' + (res.message||'') : 'Gagal submit: '+(res.message||'Error');\nconst kb = [[{text:'Cek Status',callback_data:'status_'+prev.cId},{text:'Menu',callback_data:'m_main'}]];\nreturn [{json:{chatId:prev.chatId,text,kb}}];"
      },
      "id": "fmtSubmit", "name": "Format Submit Reply", "type": "n8n-nodes-base.code",
      "typeVersion": 2, "position": [1140, 580]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8720871014:AAH7IhAlGkgUSX30f1t5mzX8bKpXo7W3U5A/sendMessage",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.text || 'Error', reply_markup: { inline_keyboard: $json.kb } }) }}"
      },
      "id": "send3", "name": "Send Submit Reply", "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2, "position": [1360, 580]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.adably.id/api/n8n/status/{{ $json.cId }}",
        "sendHeaders": true, "headerParameters": {"parameters":[{"name":"X-N8N-API-Key","value":"n8n_65a23e7759d9ad390b495d3e721f066852807d6b858e26537987e1057f28d979"}]}
      },
      "id": "apiStatus", "name": "Get Status", "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2, "position": [920, 700]
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Main Logic').first().json;\nconst res = $input.first().json;\nconst d = res.data || {};\nconst text = res.success ? 'Status Konten\\n\\nID: '+(d.id||'-')+'\\nJudul: '+(d.title||'-')+'\\nTipe: '+(d.type||'-')+'\\nStatus: '+(d.status||'-')+'\\nUpdate: '+(d.updatedAt?.substring(0,10)||'-')+'\\nThumbnail: '+(d.thumbnailUrl?'Ada':'Belum') : 'Error: '+(res.message||'Tidak ditemukan');\nconst kb = res.success ? [[{text:'Submit',callback_data:'submit_'+d.id},{text:'Editor',url:'https://adably.id/admin/editor?id='+d.id}],[{text:'Menu',callback_data:'m_main'}]] : [[{text:'Menu',callback_data:'m_main'}]];\nreturn [{json:{chatId:prev.chatId,text,kb}}];"
      },
      "id": "fmtStatus", "name": "Format Status Reply", "type": "n8n-nodes-base.code",
      "typeVersion": 2, "position": [1140, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8720871014:AAH7IhAlGkgUSX30f1t5mzX8bKpXo7W3U5A/sendMessage",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.text || 'Error', reply_markup: { inline_keyboard: $json.kb } }) }}"
      },
      "id": "send4", "name": "Send Status Reply", "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2, "position": [1360, 700]
    }
  ],
  "connections": {
    "Telegram Trigger": {"main":[[{"node":"Main Logic","type":"main","index":0}]]},
    "Main Logic": {"main":[[{"node":"Route Action","type":"main","index":0}]]},
    "Route Action": {"main":[
      [{"node":"Send Reply","type":"main","index":0}],
      [{"node":"Get Prompt from API","type":"main","index":0}],
      [{"node":"Get Thumb Prompt","type":"main","index":0}],
      [{"node":"Save to Adably","type":"main","index":0}],
      [{"node":"Submit to Adably","type":"main","index":0}],
      [{"node":"Get Status","type":"main","index":0}]
    ]},
    "Get Prompt from API": {"main":[[{"node":"Format Prompt Reply","type":"main","index":0}]]},
    "Format Prompt Reply": {"main":[[{"node":"Send Prompt Reply","type":"main","index":0}]]},
    "Get Thumb Prompt": {"main":[[{"node":"Format Thumb Reply","type":"main","index":0}]]},
    "Format Thumb Reply": {"main":[[{"node":"Send Thumb Reply","type":"main","index":0}]]},
    "Save to Adably": {"main":[[{"node":"Format Save Reply","type":"main","index":0}]]},
    "Format Save Reply": {"main":[[{"node":"Send Save Reply","type":"main","index":0}]]},
    "Submit to Adably": {"main":[[{"node":"Format Submit Reply","type":"main","index":0}]]},
    "Format Submit Reply": {"main":[[{"node":"Send Submit Reply","type":"main","index":0}]]},
    "Get Status": {"main":[[{"node":"Format Status Reply","type":"main","index":0}]]},
    "Format Status Reply": {"main":[[{"node":"Send Status Reply","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1","timezone":"Asia/Jakarta"},
  "active": false
}
