n8n/workflows/adably-content-bot.json
{
  "name": "Adably Content Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ]
      },
      "id": "t1",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "webhookId": "adably-bot",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nif (!sd.chats) sd.chats = {};\nconst inp = $input.first().json;\nconst isCb = !!inp.callback_query;\nconst chatId = String(isCb ? inp.callback_query.message.chat.id : inp.message?.chat?.id);\nconst text = isCb ? '' : (inp.message?.text || '').trim();\nconst cb = isCb ? inp.callback_query.data : '';\nconst st = sd.chats[chatId] || {};\nconst r = { action:'reply', chatId, text:'', kb:null, title:'', type:'', subType:'', raw:'', cId:'', ratio:'', ages:'', thinkers:'', pov:'' };\nconst MENU = [[{text:'Buat Konten',callback_data:'m_create'},{text:'Cek Status',callback_data:'m_status'}],[{text:'Submit Review',callback_data:'m_submit'},{text:'Prompt Thumbnail',callback_data:'m_thumb'}],[{text:'Buka Web Adably',url:'https://adably.id/admin'},{text:'Bantuan',callback_data:'m_help'}]];\nconst TYPES = [[{text:'QNA',callback_data:'t_QNA'},{text:'Artikel',callback_data:'t_ARTICLE'}],[{text:'Pembelajaran',callback_data:'t_PEMBELAJARAN'},{text:'Kisah',callback_data:'t_KISAH'}],[{text:'Kembali',callback_data:'m_main'}]];\nconst KISAH_MENU = [[{text:'Sirah Nabawiyah',callback_data:'k_SIRAH'}],[{text:'Qashashul Anbiya',callback_data:'k_QASHASH'}],[{text:'Teladan Sahabat',callback_data:'k_TELADAN'}],[{text:'Cerita Fiksi',callback_data:'k_FIKSI'}],[{text:'Kembali',callback_data:'m_create'}]];\nconst POV_MENU = [[{text:'Perspektif Orang Tua',callback_data:'pov_ORTU'}],[{text:'Perspektif Anak',callback_data:'pov_ANAK'}],[{text:'Kembali',callback_data:'m_create'}]];\nconst RATIO_MENU = [[{text:'16:9 Website',callback_data:'r_16:9'}],[{text:'1:1 IG/FB',callback_data:'r_1:1'}],[{text:'4:5 IG Optimal',callback_data:'r_4:5'}],[{text:'Kembali',callback_data:'m_main'}]];\nconst SAVE_KB = [[{text:'\\u2705 Simpan Sekarang',callback_data:'save_now'}],[{text:'\\u274c Batalkan',callback_data:'cancel_save'}]];\nfunction ageKb(selected) {\n  const ages = ['3-5','5-7','7-10','10-13','Semua Usia'];\n  const rows = [];\n  const row1 = [];\n  const row2 = [];\n  ages.forEach((a,i) => {\n    const sel = selected.includes(a);\n    const btn = {text:(sel?'✅ ':'')+a+(a!=='Semua Usia'?' thn':''), callback_data:'age_'+a};\n    if (i < 2) row1.push(btn);\n    else if (i < 4) row2.push(btn);\n    else rows.push([btn]);\n  });\n  rows.unshift(row2);\n  rows.unshift(row1);\n  if (selected.length > 0) rows.push([{text:'Lanjut ➡️',callback_data:'age_done'}]);\n  rows.push([{text:'Kembali',callback_data:'m_create'}]);\n  return rows;\n}\nfunction thinkerKb(selected) {\n  const T = [\n    {id:'aristotle',label:'Aristotle',cat:'Sistematis'},\n    {id:'descartes',label:'Descartes',cat:'Sistematis'},\n    {id:'musk',label:'Elon Musk',cat:'Sistematis'},\n    {id:'feynman',label:'Feynman',cat:'Analogi'},\n    {id:'sagan',label:'Carl Sagan',cat:'Analogi'},\n    {id:'suntzu',label:'Sun Tzu',cat:'Strategi'},\n    {id:'thiel',label:'Peter Thiel',cat:'Strategi'},\n    {id:'grove',label:'Andrew Grove',cat:'Strategi'},\n    {id:'anies',label:'Anies B.',cat:'Narasi'},\n    {id:'nadiem',label:'Nadiem M.',cat:'Narasi'},\n    {id:'gladwell',label:'Gladwell',cat:'Narasi'},\n  ];\n  const rows = [];\n  let lastCat = '';\n  let row = [];\n  T.forEach(t => {\n    if (t.cat !== lastCat) {\n      if (row.length) rows.push(row);\n      row = [];\n      lastCat = t.cat;\n    }\n    const sel = selected.includes(t.id);\n    row.push({text:(sel?'✅ ':'')+t.label, callback_data:'th_'+t.id});\n    if (row.length === 3) { rows.push(row); row = []; }\n  });\n  if (row.length) rows.push(row);\n  rows.push([{text:'Skip (tanpa thinker)',callback_data:'th_skip'},{text:'Lanjut ➡️',callback_data:'th_done'}]);\n  rows.push([{text:'Kembali',callback_data:'m_create'}]);\n  return rows;\n}\nif (isCb) {\n  if (cb === 'save_now' && st.step === 'wait_content') {\n    const buf = (st.buffer || []).join('\\n');\n    if (buf.trim()) {\n      r.action='save'; r.type=st.type; r.subType=st.sub||''; r.title=st.title; r.raw=buf;\n      r.text='\\u2705 Menyimpan konten ('+buf.length+' karakter)...\\nMohon tunggu.';\n      delete sd.chats[chatId];\n    } else {\n      r.text='Buffer kosong. Kirim hasil Gemini terlebih dahulu.';\n      r.kb=SAVE_KB;\n    }\n  }\n  else if (cb === 'cancel_save') {\n    delete sd.chats[chatId];\n    r.text='\\u274c Dibatalkan. Kembali ke menu utama.';\n    r.kb=MENU;\n  }\n  else if (cb.startsWith('age_') && st.step === 'select_age') {\n    if (cb === 'age_done') {\n      sd.chats[chatId] = {...st, step:'select_thinker', thinkers:[]};\n      r.text = 'Step 4/5: Pilih Thinker Persona\\n\\nPilih kerangka berpikir untuk prompt (bisa lebih dari 1):';\n      r.kb = thinkerKb([]);\n    } else {\n      const age = cb.replace('age_','');\n      let sel = [...(st.selectedAges||[])];\n      if (age === 'Semua Usia') { sel = sel.includes(age) ? [] : ['Semua Usia']; }\n      else { sel = sel.filter(a=>a!=='Semua Usia'); sel.includes(age) ? sel=sel.filter(a=>a!==age) : sel.push(age); }\n      sd.chats[chatId] = {...st, selectedAges:sel};\n      r.text = 'Step 3/5: Pilih Kelompok Usia\\n\\nDipilih: '+(sel.length?sel.join(', '):'(belum ada)')+'\\n\\nKlik usia untuk toggle, lalu klik Lanjut:';\n      r.kb = ageKb(sel);\n    }\n  }\n  else if (cb.startsWith('th_') && st.step === 'select_thinker') {\n    if (cb === 'th_done' || cb === 'th_skip') {\n      const thinkers = cb === 'th_skip' ? [] : (st.thinkers||[]);\n      sd.chats[chatId] = {...st, step:'wait_title', thinkers};\n      r.text = 'Step 5/5: Ketik Judul\\n\\nTipe: '+st.type+(st.sub?' ('+st.sub+')':'')+(st.pov?' | POV: '+st.pov:'')+'\\nUsia: '+(st.selectedAges||[]).join(', ')+'\\nThinker: '+(thinkers.length?thinkers.join(', '):'(tanpa thinker)')+'\\n\\nSilakan ketik judul konten:';\n    } else {\n      const tid = cb.replace('th_','');\n      let sel = [...(st.thinkers||[])];\n      sel.includes(tid) ? sel=sel.filter(x=>x!==tid) : sel.push(tid);\n      sd.chats[chatId] = {...st, thinkers:sel};\n      r.text = 'Step 4/5: Pilih Thinker Persona\\n\\nDipilih: '+(sel.length?sel.join(', '):'(belum ada)')+'\\n\\nKlik untuk toggle, lalu Lanjut:';\n      r.kb = thinkerKb(sel);\n    }\n  }\n  else if (cb.startsWith('pov_')) {\n    const pov = cb.replace('pov_','');\n    sd.chats[chatId] = {...st, step:'select_age', pov, selectedAges:[]};\n    r.text = 'Step 3/5: Pilih Kelompok Usia\\n\\nKlik usia yang diinginkan (bisa lebih dari 1):';\n    r.kb = ageKb([]);\n  }\n  else {\n    switch(cb) {\n      case 'm_main': delete sd.chats[chatId]; r.text='Menu Utama - Pilih menu:'; r.kb=MENU; break;\n      case 'm_create': r.text='Step 1/5: Pilih Tipe Konten'; r.kb=TYPES; break;\n      case 'm_status': sd.chats[chatId]={step:'wait_status_id'}; r.text='Ketik ID konten:'; break;\n      case 'm_submit': sd.chats[chatId]={step:'wait_submit_id'}; r.text='Ketik ID konten untuk review:'; break;\n      case 'm_thumb': r.text='Pilih rasio thumbnail:'; r.kb=RATIO_MENU; break;\n      case 'm_help': r.text='Panduan Adably Bot\\n\\n1. Buat Konten > pilih tipe\\n2. Pilih usia target\\n3. Pilih thinker persona\\n4. Ketik judul > bot kirim prompt\\n5. Copy prompt > paste ke Gemini\\n6. Kirim hasil Gemini ke bot (bisa beberapa pesan)\\n7. Klik Simpan > Bot simpan ke DRAFT\\n8. Klik Submit Review'; r.kb=[[{text:'Kembali',callback_data:'m_main'}]]; break;\n      case 't_QNA': case 't_PEMBELAJARAN':\n        { const tp=cb.replace('t_','');\n          sd.chats[chatId]={step:'select_age',type:tp,selectedAges:[]};\n          r.text='Step 2/5: Tipe dipilih: '+tp+'\\n\\nPilih kelompok usia (bisa lebih dari 1):';\n          r.kb=ageKb([]); break; }\n      case 't_ARTICLE':\n        sd.chats[chatId]={step:'select_pov',type:'ARTICLE'};\n        r.text='Step 2/5: Pilih Perspektif Artikel'; r.kb=POV_MENU; break;\n      case 't_KISAH': r.text='Step 2/5: Pilih sub-tipe Kisah:'; r.kb=KISAH_MENU; break;\n      case 'k_SIRAH': case 'k_QASHASH': case 'k_TELADAN': case 'k_FIKSI':\n        { const ks=cb.replace('k_','');\n          sd.chats[chatId]={step:'select_age',type:'KISAH',sub:ks,selectedAges:[]};\n          r.text='Step 2/5: Kisah: '+ks+'\\n\\nPilih kelompok usia:';\n          r.kb=ageKb([]); break; }\n      case 'r_16:9': case 'r_1:1': case 'r_4:5':\n        { const rt=cb.replace('r_','');\n          sd.chats[chatId]={step:'wait_thumb_title',ratio:rt};\n          r.text='Rasio: '+rt+'\\n\\nKetik judul/tema thumbnail:'; break; }\n      default:\n        if(cb.startsWith('submit_')){r.action='submit';r.cId=cb.replace('submit_','');}\n        else if(cb.startsWith('status_')){r.action='status';r.cId=cb.replace('status_','');}\n        else{r.text='Perintah tidak dikenali.';r.kb=MENU;}\n    }\n  }\n} else if (text === '/start' || text === '/menu') {\n  delete sd.chats[chatId];\n  r.text='Assalamualaikum!\\n\\nSaya Adably Content Bot.\\nAsisten pembuatan konten islami anak.\\n\\nPilih menu:'; r.kb=MENU;\n} else if (st.step === 'wait_title') {\n  r.action='gen_prompt';\n  r.type=st.type; r.subType=st.sub||''; r.title=text;\n  r.ages=(st.selectedAges||[]).join(',');\n  r.thinkers=(st.thinkers||[]).join(',');\n  r.pov=st.pov||'';\n  r.text='Sedang membuat prompt untuk: '+text+'\\nMohon tunggu...';\n  sd.chats[chatId]={step:'wait_content',type:st.type,sub:st.sub,title:text,buffer:[]};\n} else if (st.step === 'wait_content') {\n  const doc = isCb ? null : inp.message?.document;\n  if (doc) {\n    r.action = 'upload_file';\n    r.fileId = doc.file_id;\n    r.fileName = doc.file_name || 'konten.txt';\n    r.text = 'File diterima: ' + (doc.file_name || 'konten.txt') + '\\nMengunduh dan memproses ke Adably...\\nMohon tunggu sebentar.';\n  } else {\n    const buf = st.buffer || [];\n    buf.push(text);\n    const totalChars = buf.join('\\n').length;\n    const msgCount = buf.length;\n    sd.chats[chatId] = {...st, buffer:buf};\n    r.text='Diterima (pesan ke-'+msgCount+', total '+totalChars+' karakter).\\n\\nJika sudah selesai, klik Simpan.\\nJika masih ada lanjutan, kirim pesan berikutnya.\\n\\nTip: Bisa upload file .txt langsung!';\n    r.kb=SAVE_KB;\n  }\n} else if (st.step === 'wait_thumb_title') {\n  r.action='gen_thumb'; r.ratio=st.ratio; r.title=text;\n  delete sd.chats[chatId];\n} else if (st.step === 'wait_status_id') {\n  r.action='status'; r.cId=text.trim(); delete sd.chats[chatId];\n} else if (st.step === 'wait_submit_id') {\n  r.action='submit'; r.cId=text.trim(); delete sd.chats[chatId];\n} else {\n  r.text='Ketik /start untuk memulai, atau pilih menu:'; r.kb=MENU;\n}\nreturn [{json:r}];"
      },
      "id": "logic",
      "name": "Main Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "reply",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond_reply",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "reply",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "gen_prompt",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond_gen_prompt",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "gen_prompt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "gen_thumb",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond_gen_thumb",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "gen_thumb",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "save",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond_save",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "save",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "submit",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond_submit",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "submit",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "status",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond_status",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "upload_file",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond_upload_file",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "upload_file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "sw",
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8720871014:AAH7IhAlGkgUSX30f1t5mzX8bKpXo7W3U5A/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.text || 'Pilih menu:', reply_markup: $json.kb ? { inline_keyboard: $json.kb } : { inline_keyboard: [[{text:'Menu',callback_data:'m_main'}]] } }) }}"
      },
      "id": "send1",
      "name": "Send Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8720871014:AAH7IhAlGkgUSX30f1t5mzX8bKpXo7W3U5A/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.text || 'Memproses...' }) }}"
      },
      "id": "sendWait",
      "name": "Send Wait Msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.adably.id/api/n8n/generate-prompt",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-Key",
              "value": "n8n_65a23e7759d9ad390b495d3e721f066852807d6b858e26537987e1057f28d979"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: $('Main Logic').first().json.type, title: $('Main Logic').first().json.title, subType: $('Main Logic').first().json.subType || undefined, ageGroups: ($('Main Logic').first().json.ages || '').split(',').filter(Boolean), selectedThinkers: ($('Main Logic').first().json.thinkers || '').split(',').filter(Boolean), pov: $('Main Logic').first().json.pov || undefined }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "apiPrompt",
      "name": "Get Prompt from API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Main Logic').first().json;\nconst res = $input.first().json;\nconst chatId = prev.chatId;\n\nlet prompt = '';\nif (res.prompt) { prompt = res.prompt; }\nelse if (res.message) { prompt = 'Error dari API: ' + res.message; }\nelse { prompt = 'Error: Tidak bisa generate prompt. Pastikan backend sudah di-deploy.'; }\n\nconst typeLabel = (prev.type||'') + (prev.subType ? ' (' + prev.subType + ')' : '');\nconst agesLabel = (prev.ages||'').replace(/,/g, ', ') || 'Semua Usia';\nconst slug = (prev.title||'konten').toLowerCase().replace(/[^a-z0-9]+/gi, '-').substring(0, 40);\nconst fileName = 'prompt_' + slug + '.txt';\n\nconst fileContent = [\n  '════════════════════════════════════════',\n  'ADABLY PROMPT GENERATOR',\n  'Tipe  : ' + typeLabel,\n  'Judul : ' + (prev.title||''),\n  'Usia  : ' + agesLabel,\n  '════════════════════════════════════════',\n  '',\n  prompt,\n].join('\\n');\n\nconst base64 = Buffer.from(fileContent, 'utf-8').toString('base64');\nconst caption = '\\u{1F4C4} Prompt siap!\\n\\nUpload file ini ke Gemini / Claude / ChatGPT.\\nSimpan output AI sebagai .txt, lalu upload ke bot ini.';\n\nreturn [{\n  json: { chatId, caption, fileName },\n  binary: {\n    document: { data: base64, mimeType: 'text/plain', fileName: fileName }\n  }\n}];"
      },
      "id": "fmtPrompt",
      "name": "Format Prompt Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8720871014:AAH7IhAlGkgUSX30f1t5mzX8bKpXo7W3U5A/sendDocument",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chatId }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.caption }}"
            },
            {
              "name": "document",
              "value": "={{ $binary.document }}",
              "parameterType": "formBinaryData"
            }
          ]
        }
      },
      "id": "sendPrompt",
      "name": "Send Prompt Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.adably.id/api/n8n/generate-thumb-prompt",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-Key",
              "value": "n8n_65a23e7759d9ad390b495d3e721f066852807d6b858e26537987e1057f28d979"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.title, ratio: $json.ratio }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "apiThumb",
      "name": "Get Thumb Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Main Logic').first().json;\nconst res = $input.first().json;\nconst prompt = res.prompt || 'Error: ' + (res.message || 'Gagal generate');\nconst text = 'PROMPT THUMBNAIL ' + (prev.ratio||'') + ' - ' + (prev.title||'') + '\\n\\n' + prompt + '\\n\\n---\\nCopy lalu paste ke AI image generator.\\nUpload hasilnya manual di web Adably.';\nconst kb = [[{text:'Rasio Lain',callback_data:'m_thumb'},{text:'Menu',callback_data:'m_main'}]];\nreturn [{json:{chatId:prev.chatId,text:text.length>4096?text.substring(0,4090)+'...':text,kb}}];"
      },
      "id": "fmtThumb",
      "name": "Format Thumb Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8720871014:AAH7IhAlGkgUSX30f1t5mzX8bKpXo7W3U5A/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.text || 'Error', reply_markup: { inline_keyboard: $json.kb } }) }}"
      },
      "id": "sendThumb",
      "name": "Send Thumb Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.adably.id/api/n8n/save-content",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-Key",
              "value": "n8n_65a23e7759d9ad390b495d3e721f066852807d6b858e26537987e1057f28d979"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.title, type: $json.type, subType: $json.subType || undefined, rawContent: $json.raw }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "apiSave",
      "name": "Save to Adably",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Main Logic').first().json;\nconst res = $input.first().json;\nconst ok = res.success === true;\nconst id = res.data?.id || '';\nconst kb = ok ? [\n  [{text:'Submit Review',callback_data:'submit_'+id},{text:'Status',callback_data:'status_'+id}],\n  [{text:'Buka Editor',url:'https://adably.id/admin/editor?id='+id},{text:'Menu',callback_data:'m_main'}]\n] : [[{text:'Menu',callback_data:'m_main'}]];\nconst text = ok\n  ? '\\u2705 Konten tersimpan!\\n\\nID: '+id+'\\nJudul: '+(res.data?.title||'')+'\\nTipe: '+(res.data?.type||'')+'\\nStatus: DRAFT\\n\\nMengunduh ringkasan lengkap...'\n  : '\\u274c Gagal menyimpan: '+(res.message||JSON.stringify(res).substring(0,200));\nreturn [{json:{chatId:prev.chatId, contentId:id, text, kb}}];"
      },
      "id": "fmtSave",
      "name": "Format Save Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8720871014:AAH7IhAlGkgUSX30f1t5mzX8bKpXo7W3U5A/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.text || 'Error', reply_markup: { inline_keyboard: $json.kb } }) }}"
      },
      "id": "send2",
      "name": "Send Save Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.adably.id/api/n8n/submit/{{ $json.cId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-Key",
              "value": "n8n_65a23e7759d9ad390b495d3e721f066852807d6b858e26537987e1057f28d979"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "apiSubmit",
      "name": "Submit to Adably",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Main Logic').first().json;\nconst res = $input.first().json;\nconst text = res.success ? 'Berhasil! ' + (res.message||'') : 'Gagal submit: '+(res.message||'Error');\nconst kb = [[{text:'Cek Status',callback_data:'status_'+prev.cId},{text:'Menu',callback_data:'m_main'}]];\nreturn [{json:{chatId:prev.chatId,text,kb}}];"
      },
      "id": "fmtSubmit",
      "name": "Format Submit Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8720871014:AAH7IhAlGkgUSX30f1t5mzX8bKpXo7W3U5A/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.text || 'Error', reply_markup: { inline_keyboard: $json.kb } }) }}"
      },
      "id": "send3",
      "name": "Send Submit Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        560
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.adably.id/api/n8n/status/{{ $json.cId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-Key",
              "value": "n8n_65a23e7759d9ad390b495d3e721f066852807d6b858e26537987e1057f28d979"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "apiStatus",
      "name": "Get Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        680
      ]
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Main Logic').first().json;\nconst res = $input.first().json;\nconst d = res.data || {};\nconst text = res.success ? 'Status Konten\\n\\nID: '+(d.id||'-')+'\\nJudul: '+(d.title||'-')+'\\nTipe: '+(d.type||'-')+'\\nStatus: '+(d.status||'-')+'\\nUpdate: '+(d.updatedAt?.substring(0,10)||'-') : 'Error: '+(res.message||'Tidak ditemukan');\nconst kb = res.success ? [[{text:'Submit',callback_data:'submit_'+d.id},{text:'Editor',url:'https://adably.id/admin/editor?id='+d.id}],[{text:'Menu',callback_data:'m_main'}]] : [[{text:'Menu',callback_data:'m_main'}]];\nreturn [{json:{chatId:prev.chatId,text,kb}}];"
      },
      "id": "fmtStatus",
      "name": "Format Status Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8720871014:AAH7IhAlGkgUSX30f1t5mzX8bKpXo7W3U5A/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.text || 'Error', reply_markup: { inline_keyboard: $json.kb } }) }}"
      },
      "id": "send4",
      "name": "Send Status Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        680
      ]
    },
    {
      "id": "sendProcessing",
      "name": "Send Processing Msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        800
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8720871014:AAH7IhAlGkgUSX30f1t5mzX8bKpXo7W3U5A/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.text }) }}"
      }
    },
    {
      "id": "dlFileInfo",
      "name": "Get File Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        800
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/bot8720871014:AAH7IhAlGkgUSX30f1t5mzX8bKpXo7W3U5A/getFile?file_id={{ $('Main Logic').first().json.fileId }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "dlFileContent",
      "name": "Download File Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        800
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/file/bot8720871014:AAH7IhAlGkgUSX30f1t5mzX8bKpXo7W3U5A/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "extractFile",
      "name": "Extract File & Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        800
      ],
      "parameters": {
        "jsCode": "const prev = $('Main Logic').first().json;\nconst sd = $getWorkflowStaticData('global');\nconst chatId = prev.chatId;\nconst sesi = sd.chats?.[chatId] || {};\n\nlet fileText = '';\ntry {\n  const bd = $input.first().binary?.data;\n  if (bd) {\n    fileText = Buffer.from(bd.data, 'base64').toString('utf-8');\n  }\n} catch(e) { fileText = ''; }\n\nconst titleMatch = fileText.match(/^Judul\\s*:\\s*(.+)$/im);\nconst descMatch  = fileText.match(/^Deskripsi\\s*:\\s*(.+)$/im);\nconst title = (titleMatch?.[1]||'').trim() || sesi.title || 'Konten Baru';\n\nreturn [{json:{\n  chatId,\n  rawContent: fileText,\n  type: sesi.type || 'QNA',\n  subType: sesi.sub || '',\n  title,\n  description: (descMatch?.[1]||'').trim(),\n  ageGroups: sesi.selectedAges || [],\n  pov: sesi.pov || '',\n}}];"
      }
    },
    {
      "id": "saveFileToAdably",
      "name": "Save File to Adably",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        800
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.adably.id/api/n8n/save-content",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-Key",
              "value": "n8n_65a23e7759d9ad390b495d3e721f066852807d6b858e26537987e1057f28d979"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.title, type: $json.type, subType: $json.subType || undefined, ageGroups: $json.ageGroups, description: $json.description || undefined, rawContent: $json.rawContent }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "exportTxtFile",
      "name": "Export TXT from Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2020,
        800
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.adably.id/api/n8n/export-txt/{{ $json.data.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-Key",
              "value": "n8n_65a23e7759d9ad390b495d3e721f066852807d6b858e26537987e1057f28d979"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "sendResultFile",
      "name": "Send Result File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        800
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8720871014:AAH7IhAlGkgUSX30f1t5mzX8bKpXo7W3U5A/sendDocument",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Extract File & Prepare').first().json.chatId }}"
            },
            {
              "name": "caption",
              "value": "✅ Draft berhasil disimpan!\n\nSemua blok konten ada di file ini.\nBuka dashboard Adably untuk review & publish."
            },
            {
              "name": "document",
              "value": "={{ $binary.data }}",
              "parameterType": "formBinaryData"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "exportTxtAfterSave",
      "name": "Export TXT After Save",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        440
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.adably.id/api/n8n/export-txt/{{ $json.contentId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-Key",
              "value": "n8n_65a23e7759d9ad390b495d3e721f066852807d6b858e26537987e1057f28d979"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "sendResultAfterSave",
      "name": "Send Result After Save",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        440
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8720871014:AAH7IhAlGkgUSX30f1t5mzX8bKpXo7W3U5A/sendDocument",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Format Save Reply').first().json.chatId }}"
            },
            {
              "name": "caption",
              "value": "📄 Ringkasan konten tersimpan."
            },
            {
              "name": "document",
              "value": "={{ $binary.data }}",
              "parameterType": "formBinaryData"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Main Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Logic": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Wait Msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Thumb Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save to Adably",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Submit to Adably",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Processing Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Wait Msg": {
      "main": [
        [
          {
            "node": "Get Prompt from API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Prompt from API": {
      "main": [
        [
          {
            "node": "Format Prompt Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Prompt Reply": {
      "main": [
        [
          {
            "node": "Send Prompt Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Thumb Prompt": {
      "main": [
        [
          {
            "node": "Format Thumb Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Thumb Reply": {
      "main": [
        [
          {
            "node": "Send Thumb Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Adably": {
      "main": [
        [
          {
            "node": "Format Save Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Save Reply": {
      "main": [
        [
          {
            "node": "Export TXT After Save",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to Adably": {
      "main": [
        [
          {
            "node": "Format Submit Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Submit Reply": {
      "main": [
        [
          {
            "node": "Send Submit Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Status": {
      "main": [
        [
          {
            "node": "Format Status Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Status Reply": {
      "main": [
        [
          {
            "node": "Send Status Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Processing Msg": {
      "main": [
        [
          {
            "node": "Get File Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Info": {
      "main": [
        [
          {
            "node": "Download File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File Content": {
      "main": [
        [
          {
            "node": "Extract File & Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract File & Prepare": {
      "main": [
        [
          {
            "node": "Save File to Adably",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save File to Adably": {
      "main": [
        [
          {
            "node": "Export TXT from Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export TXT from Backend": {
      "main": [
        [
          {
            "node": "Send Result File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export TXT After Save": {
      "main": [
        [
          {
            "node": "Send Result After Save",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jakarta"
  },
  "active": false
}